extends ../layout.pug

block content
    div.card.container.center-align
        h4.center-align Add an Opening:
        .row
            form.col.s8.center(method="POST" action="/openings/new")
                .input-field
                    input.validate(type='text'  name='name' required)
                    label(for='name') Name
                .input-field
                    input.validate(type='text'  name='into' required)
                    label(for='intro') Intro
                .input-field
                    input.validate(type='text'   name='moves' required)
                    label(for='moves') Moves
                .input-field
                    input.validate(type='text'  name='resources' required)
                    label(for='resources') Resources
                br
                input(type='submit' value='Create Opening')
            .col.s4
                if message
                    p #{message}
    div Create a new opening.
    div Admin only area.