extends ../layout.pug

block content
    h4 #{opening.name}
    div Description:
        div #{opening.intro}
    div Opening Moves:
        each move in opening.moves
            li #{move}
    div.chessboard

block scripts
    script(type='text/javascript').
        let board = !{board}
    script(src='/scripts/chessboard.js')