html
  head
    title= title
    link(href='/styles/main.css' rel='stylesheet')
    link(href='/styles/chessboard.css' rel='stylesheet')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet")
    

  body
    header
        nav
            .nav-wrapper
                a.brand-logo.right(href='/') Chess
                ul#nav-mobile.left
                    li
                        a(href='/pros') Grandmasters
                    li
                        a(href='/games') Games
                    li
                        a(href='/openings') Openings
                    if !user
                        li
                            a(href='/users/login') Signup/Login
                    else
                        li
                            a(href='/users/profile') Profile
    

    main
        block content
    
    footer
        div Here is the Footer
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    
    block scripts