html
  head
    title= title
    link(href='/styles/main.css' rel='stylesheet')
    link(href='/styles/chessboard.css' rel='stylesheet')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    
  body
    header
        nav
            .nav-wrapper.blue-grey
                a.brand-logo.left(href='/') Chess
                ul#nav-mobile.right
                    li
                        a(href='/pros') Grandmasters
                    li
                        a(href='/games') Games
                    li
                        a(href='/openings') Openings
                    if !user
                        li
                            a(href='/users/login') Log In
                        li
                            a(href='/users/signup') Create Account
                    else
                        li
                            a(href='/users/profile') Profile
                        li
                            a(href='/users/logout') Log Out
    

    main
        block content
    
    footer.page-footer.blue-grey.lighten-2
        div #{title}
        div 
            a.white-text(href='/admin/dashboard') Admin

    
    block scripts