html
  head
    title= title
    link(href='/style.css' rel='stylesheet')
  body
    header
        h1 My New Title
    

    main
        div Main Content
        block content
    
    footer
        div Here is the Footer