extends ../layout.pug

block content
    div
        each game in games
            - let url = '/games/' + game._id
            div
                a(href=url) #{game.white} vs. #{game.black} (#{game.year})

