extends ../layout.pug

block content
    div.card.container.center-align
        h4.center-align Add a Professional:
        .row
            form.col.s8.center(method="POST" action="/pros/new")
                .input-field
                    input.validate(type='text'  name='name' required)
                    label(for='name') Name
                .input-field
                    input.validate(type='text'  name='born' required)
                    label(for='born') Born
                .input-field
                    input.validate(type='text'   name='died' required)
                    label(for='died') Died
                .input-field
                    input.validate(type='text'  name='nationality' required)
                    label(for='nationality') Nationality
                .input-field
                    input.validate(type='text'  name='worldChampion' required)
                    label(for='worldChampion') World Champion
                div
                    input.validate(type='textarea'  name='shortBio' required)
                    label(for='shortBio') Short Bio
                .input-field
                    input.validate(type='text'  name='image' required)
                    label(for='image') Link to Image:
                br
                input(type='submit' value='Create Account')
            .col.s4
                if message
                    p #{message}
    div Create a new professional profile.
    div Admin only area.
